@import "base";

$hover-color: rgb(235, 12, 12);
$light-grey-color: rgba(0, 0, 0, 0.3);

header {
  min-height: 100vh;

  nav {
    position: relative;
    min-height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);

    .menu-btn {
      display: flex;
      align-items: center;
      width: min-content;
      &:hover {
        span {
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .hamburger {
        background-color: transparent;
        border: none;
        margin-right: 1rem;

        .burger line {
          transition: all 0.5s;
        }

        .burger.open #one {
          opacity: 0;
        }
        .burger.open #two {
          transform: rotate(42deg) translate(5px, -5px);
        }
        .burger.open #three {
          transform: rotate(-41deg) translate(-11px, -1px);
        }
      }
    }

    .tools {
      display: flex;
      align-items: center;
      i {
        margin-right: 2.5rem;
        position: relative;
        transition: all 0.5s;

        &:hover {
          color: $hover-color;
          &:after {
            background: $hover-color;
            color: white;
            border: none;
          }
        }

        &:after {
          color: black;
          position: absolute;
          font-size: 1rem;
          background: white;
          padding: 3px;
          top: -5px;
          left: 18px;
          content: "12";
          border-radius: 50%;
          border: 1px solid $light-grey-color;
        }
      }

      .location,
      .search {
        display: none;
      }
      span {
        display: flex;
        align-items: center;

        &:before {
          content: "";
          width: 1px;
          height: 3.5rem;
          background: $light-grey-color;
          display: inline-flex;
          margin-right: 1.5rem;
        }
      }
    }

    .dropdown.slide-out {
      transform: translateX(0);
      opacity: 1;
    }

    .dropdown {
      border: 1px solid;
      background: #fff;
      position: absolute;
      height: 90vh;
      top: 10vh;
      left: 0;
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.5s ease-in;

      .categories-menu {
        padding: 2rem;

        .menu-logo {
          width: 20rem;
          padding-bottom: 3rem;

          img {
            position: relative;
            left: -3px;
          }
        }

        .categories {
          height: 70vh;
          padding-bottom: 2rem;
          margin: 0;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            background: rgba(0, 0, 0, 0);
            border-radius: 4px;
            width: 5px;
            -webkit-overflow-scrolling: touch;
          }

          &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.6);
            border-radius: 4px;
            height: 8px;
            -webkit-overflow-scrolling: touch;
          }

          .categories-item.open {
            a {
              color: black;
            }
            .arrow-down {
              color: black;
              transform: rotate(180deg);
              top: 15px;
            }

            .sub-categories {
              padding: 1.5rem 0;
              height: 100%;
            }
          }

          .categories-item {
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);

            a {
              padding: 1rem 2rem;
              text-decoration: none;
              padding-left: 3rem;
              width: 100%;
              display: block;

              &:focus {
                color: black;
              }

              &:hover {
                background: rgba(0, 0, 0, 0.1);
              }
            }

            .arrow-down {
              margin-left: 0.5rem;
              position: absolute;
              left: 0;
              top: 8px;
              font-size: 2rem;
              align-self: flex-start;
            }

            .sub-categories {
              overflow: hidden;
              height: 0;
              transition: all 0.1s;

              .sub-categories-item {
                padding-bottom: 0.5rem;
                a:focus {
                  color: black;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .profile {
          display: flex;
          padding: 1rem 0;
          margin-top: 1rem;
          border-top: 1px solid $light-grey-color;

          a {
            display: flex;
            align-items: center;
            &:hover {
              text-decoration: none;
            }

            i {
              font-size: 2rem;
              color: black;
            }
            span {
              font-size: 1.5rem;
              letter-spacing: normal;
              margin-left: 1rem;
              margin-right: 2rem;
            }
          }

          .fa-arrow-right {
            padding-left: 5px;
            border-left: 1px solid #000;
          }
        }
      }
    }
  }

  h1 {
    max-width: 30rem;
    margin: 0 auto;
    display: none;
    z-index: -1;
    padding: 2rem;
  }
}

@media screen and(max-width: 768px) {
  header {
    nav {
      padding: 1rem 0;
      min-height: 5vh;
      box-shadow: none;
      border-bottom: 1px solid $light-grey-color;
      .menu-btn span {
        display: none;
      }

      .logo {
        display: none;
      }
      .tools {
        i {
          margin: 0;
          padding: 0 1rem;
          font-size: 2rem;
          &::after {
            display: none;
          }
        }

        .favorite,
        .search {
          border-left: 1px solid $light-grey-color;
        }

        .checkout {
          padding-left: 0;
        }

        .location,
        .search {
          display: block;
        }

        span {
          display: none;
        }
      }

      .dropdown {
        border: none;
        top: 46px;
        left: 50%;
        width: 90vw;
        height: 0;
        opacity: 1;
        overflow: hidden;
        transform: translateX(-50%);
        transition: all 0.5s ease-in;

        .categories-menu {
          padding: 2rem 0 0 0;

          .categories {
            height: 357px;

            .categories-item {
              padding: 1rem;
              padding-left: 3rem;
              border: none;

              a {
                padding: 0;
                display: inline;
                text-decoration: none;
                &:hover {
                  background: none;
                }
              }
            }
          }
        }
      }
    }
    h1 {
      display: block;
    }
  }
}
